<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 注解扫描包 -->
    <context:component-scan base-package="com.jef"/>

    <!-- 启用spring mvc 注解 -->
    <context:annotation-config/>

    <!-- 开启注解 -->
    <mvc:annotation-driven/>

    <!--加载本地的其他配置 -->
    <import resource="spring-base.xml"/>
    <import resource="spring-mybatis.xml"/>

    <!-- 用于持有ApplicationContext,可以使用SpringContextHolder.getBean('xxxx')的静态方法得到spring bean对象 -->
    <bean class="com.jef.common.context.SpringContextHolder" lazy-init="false" />

    <!-- 加载配置文件，一个或多个 -->
    <bean id="propertyConfigurer" class="com.jef.common.utils.SpringPropertiesUtil">
        <property name="locations">
            <list>
                <value>classpath:common/jdbc.properties</value>
            </list>
        </property>
    </bean>
</beans>